<ion-header>
  <ion-navbar color="dark">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image:url('assets/hallowenAdministrativo.jpg')" class="fondo">
 
<div style="width:100%;height:100%">
  <br>
  <div style="width:50%;height:10%;margin:auto;text-align:center;display:block;">
<button ion-button icon-right color="danger" style="font-size:11pt;margin:auto;text-align:center;display:block;" round (click)="loginGoogle()">
Iniciar sesión con Google<ion-icon style="font-size:250%;margin:auto;text-align:center;display:block;" name="logo-googleplus"></ion-icon>
</button>
</div>
    <br><br><br>
    <div *ngIf="!google">
   <ion-item style="background-color:rgba(0, 0, 0, 0.747);color:white">
      <ion-label  style="color:white" floating>Email</ion-label>
<ion-input clearInput type="text"  [(ngModel)]="email" name="email" id="email"></ion-input></ion-item>
<ion-item style="background-color:rgba(0, 0, 0, 0.747);color:white">
    <ion-label style="color:white" floating>Contraseña</ion-label>      
<ion-input type="password"  [(ngModel)]="password" name="password" id="password"></ion-input></ion-item>
 <!--<ion-item style="background-color:rgba(0, 0, 0, 0.747);color:white">
  <ion-label style="color:white">Elige tu usuario</ion-label>
 <ion-select style="background-color:rgba(0, 0, 0, 0.747);color:white" [(ngModel)]="usuarioo" name="usuarioo" id="usuarioo" (ionChange)="selectChange()">
   <ion-option *ngFor="let usuario of usuarios | async"  [value]="usuario">{{usuario.nombre}}</ion-option>
   <ion-option>nicostellisano@hotmail.com</ion-option>
  </ion-select>
</ion-item>-->
<br>
<br> <button ion-button round full large style="margin:auto;text-align:center;display:block;background-color:rgba(0, 0, 0, 0.747)" (click)="loginNormal()">Iniciar Sesión</button>
</div>
</div>
<!--<br> <button ion-button round full large style="margin:auto;text-align:center;display:block;background-color:rgba(0, 0, 0, 0.747)" (click)="login(0)">Iniciar Sesión(Admin)</button>
<br> <button ion-button round full large style="margin:auto;text-align:center;display:block;background-color:rgba(0, 0, 0, 0.747)" (click)="login(1)">Iniciar Sesión(Administrativo)</button>
<br> <button ion-button round full large style="margin:auto;text-align:center;display:block;background-color:rgba(0, 0, 0, 0.747)" (click)="login(2)">Iniciar Sesión(Profesor)</button>
<br> <button ion-button round full large style="margin:auto;text-align:center;display:block;background-color:rgba(0, 0, 0, 0.747)" (click)="login(3)">Iniciar Sesión(Alumno)</button>
-->
<button ion-button full (click)="octa()">Octavio</button>
<button ion-button full (click)="dale()">Ortiz 4A </button>
<br><br><br><br>

</ion-content>
