page-materias {
    .fondo{
        
        background-repeat: no-repeat;
        background: 50%;
        
    }

    button{
        border-color:white;
        border-width: 2px;
        border-style: solid;
    }
    

}
