page-aula {

    ion-list{
        background-color:rgba(0, 0, 0, 0.747);
        color:white
    }

    ion-label{
        color:white
    }

    ion-button{
        margin:auto;
        text-align:center;
        display:block;
        background-color:rgba(0, 0, 0, 0.747)
    }
}
