page-aula {

    .miItem{
        background-color:rgba(0, 0, 0, 0.747);
        color:white
    }

    .miLabel{
        color:white
    }

    .miBoton{
        margin:auto;
        text-align:center;
        display:block;
        background-color:rgba(0, 0, 0, 0.747)
    }
}
