page-tutorial {
    .fondo{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: 85% 85%;
        //background-size: 50px;
    }

    .modal-wrapper {
        height: 85%;
        width: 85%;
        display: absolute;
        margin:auto;
        top: 7.5%  !important;
        position:relative;
       padding:auto;
        vertical-align: middle !important;
       
      }
}
