<!--
  Generated template for the AulaProfesorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>Aula:{{aula}}, Materia {{materia}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding >
  
   <!--gi <ion-list>
                
      <ion-item class="animated flipInX miItem">
        <ion-label class="miLabel" floating>Divicion</ion-label>
        <ion-input type="text" [(ngModel)]="miAulaProfesor.division" disabled="true"></ion-input> 
      </ion-item>
                      
      <ion-item class="animated flipInY miItem">
        <ion-label class="miLabel" floating>Materia</ion-label>
        <ion-input type="text" [(ngModel)]="miAulaProfesor.materia" disabled="true"></ion-input>
      </ion-item>
                  
      <ion-item class="animated flipInX miItem" >
        <ion-label class="miLabel" floating >Cantidad de Alumnos</ion-label>
        <ion-input type="text" [(ngModel)]="miAulaProfesor.cantidadAlumno" disabled="true"></ion-input>
      </ion-item> 
    
    </ion-list>-->
  
    <br><br>     
     
    
      
  
      <button ion-button  full large  (click)="tomaLista()" class="animated flipInX  miButton"> 
        <ion-icon name="arrow-round-back"></ion-icon> Tomar Lista
      </button>
  <br><br>
  <div style="width:100%">
    <ion-grid style="background-color:white;">
      <h4>Faltas</h4>
       <ion-row >
         <ion-col >
           <ngx-charts-bar-horizontal 
             [view]="view"
             [results]="informacion"
             xAxis="true"
             yAxis="true"
           >
           </ngx-charts-bar-horizontal>
         </ion-col>
       </ion-row>
     </ion-grid>
    </div>
    <!--  [legend]="showLegend"
             legendTitle="Votos"
             [showXAxisLabel]="showXAxisLabel"
             [showYAxisLabel]="showYAxisLabel"
             xAxisLabel="votos"
             yAxisLabel="resultado" -->
             <br><br><br><br>
             <ion-item >
              <ion-label>Curso</ion-label>
              <ion-select interface='action-sheet' [(ngModel)]="seleccion" (ionChange)="changeList($event)">
                <ion-option (ionSelect)="changeList('a')" value="a">4ºA</ion-option>
                <ion-option (ionSelect)="changeList('b')" value="b">4ºB</ion-option>
              </ion-select>
            </ion-item>
            <ion-item >
            <div style='width:100%;height:100%' *ngIf='seleccion=="a"'>
              <ng2-smart-table style='width:100%;height:100%' [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
              (editConfirm)="onSaveConfirm($event)"
              (createConfirm)="onCreateConfirm($event)"></ng2-smart-table></div>
            </ion-item>
            <ion-item >
              <div style='width:100%;height:100%' *ngIf='seleccion=="b"'>
              <ng2-smart-table style='width:100%;height:100%'  [settings]="settings" [source]="source2" (deleteConfirm)="onDeleteConfirm($event)"
              (editConfirm)="onSaveConfirm($event)"
              (createConfirm)="onCreateConfirm($event)"></ng2-smart-table></div>
         </ion-item> 
     
      
  
  </ion-content>
  