page-respuesta-encuesta {
    .fondo{
        
        background-repeat: no-repeat;
        background: 50%;
        
    }

    button{
        border-color:white;
        border-width: 2px;
        border-style: solid;
    }

    .botones
    {
        border-color:white;
        border-width: 1px;
        border-style: solid;
    }
}
