<!--
  Generated template for the RespuestaEncuestaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [style.font-family]="miTema.tipoLetra">
  <ion-navbar [color]="miTema.colorNav" [style.font-size.px]="miTema.sizeLetra">
    <ion-title [style.color]="miTema.colorLetra">Encuestas a responder</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding [ngStyle]="{ 'background-color':+ miTema.colorFondo}" [style.font-family]="miTema.tipoLetra" [style.font-size.px]="miTema.sizeLetra">
  
  <div *ngFor="let e of encuestas">
    
         <ion-list >
            <ion-item class="animated flipInY ">
                <ion-label [style.color]="miTema.colorLetra" class="miLabel" style="color: orange"  floating>Nombre:</ion-label>
                <ion-input [style.color]="miTema.colorLetra" type="text" [(ngModel)]="e.nombre" disabled="true"></ion-input>
                </ion-item>
                
             <ion-item class="animated flipInY ">
             <ion-label [style.color]="miTema.colorLetra" class="miLabel" style="color: orange"  floating>Pregunta:</ion-label>
             <ion-input [style.color]="miTema.colorLetra" type="text" [(ngModel)]="e.pregunta" disabled="true"></ion-input>
             </ion-item>
             
             
               <ion-item class="animated flipInY miItem">
                 <ion-label [style.color]="miTema.colorLetra" class="miLabel" style="color: orange"  floating>La encuesta finaliza en el horario:</ion-label>
                 <ion-input [style.color]="miTema.colorLetra" type="text" [(ngModel)]="e.horaFReal" disabled="true"></ion-input>
                 </ion-item>


<!--
                 <ion-item class="animated flipInX miItem">
                     <ion-label class="miLabel" style="color: orange"  floating>Fecha y hora de inicio (opcional)</ion-label>
                     <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="e.fechaInicio" disabled="true"></ion-datetime>
                   </ion-item>
             
                   <ion-item class="animated flipInX miItem">
                       <ion-label class="miLabel" style="color: orange"  floating>Fecha y hora de finalización (opcional)</ion-label>
                       <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="e.fechaFinalizacion" disabled="true"></ion-datetime>
                     </ion-item>
                   -->


                 <ion-item *ngIf='e.formato == "Botones"' class="animated flipInY ">
                   <ion-list  >
                       <button  class="miButton" (click)="respuesta1(e)" style="color: rgb(0, 35, 151)" ion-button clear item-end [ngStyle]="{ 'background-color':+ miTema.colorBoton}" [style.font-size.px]="miTema.sizeLetra" [style.border-radius]="miTema.radioButton" [style.color]="miTema.colorLetra">
                           Presione para votar: {{e.respuesta1}}
                          </button>
                          <br>
                          <button class="miButton" (click)="respuesta2(e)" style="color: rgb(0, 35, 151)" ion-button clear item-end [ngStyle]="{ 'background-color':+ miTema.colorBoton}" [style.font-size.px]="miTema.sizeLetra" [style.border-radius]="miTema.radioButton" [style.color]="miTema.colorLetra">
                             Presione para votar: {{e.respuesta2}}
                            </button>


                     
                       </ion-list>    
                     </ion-item>
        

                               <ion-list  *ngIf='e.formato == "Radio botones"' (ionChange)="responder(e)" radio-group [(ngModel)]="respuestaR">
                                   <ion-item class="animated flipInY ">
                                     <ion-label [style.color]="miTema.colorLetra" style="color : rgb(0, 35, 151)">{{e.respuesta1}}</ion-label>
                                     <ion-radio [style.color]="miTema.colorLetra" [value]="e.respuesta1" ></ion-radio>
                                   </ion-item>
                                   <ion-item class="animated flipInY ">
                                       <ion-label [style.color]="miTema.colorLetra" style="color : rgb(0, 35, 151)">{{e.respuesta2}}</ion-label>
                                       <ion-radio  [value]="e.respuesta2" ></ion-radio>
                                     </ion-item>
                                    

                                 </ion-list>

                              <!--   <ion-list  *ngIf='e.formato == "Checkbox"' radio-group [(ngModel)]="respuesta">
                                     <ion-item class="animated flipInY miItem">
                                         <ion-label style="color : rgb(85, 158, 218)">{{e.respuesta1}}</ion-label>
                                         <ion-checkbox  style="color : rgb(85, 158, 218)" [(ngModel)]="e.respuesta1"></ion-checkbox>
                                     </ion-item>
                                     <ion-item class="animated flipInY miItem">
                                         <ion-label style="color : rgb(85, 158, 218)">{{e.respuesta2}}</ion-label>
                                         <ion-checkbox  style="color : rgb(85, 158, 218)" [(ngModel)]="e.respuesta2" ></ion-checkbox>
                                       </ion-item>
                                                 
 
                                   </ion-list> -->  

                                   <ion-list  *ngIf='e.formato == "Selección de opciones"'  >
                                    <ion-item class="animated flipInY " >
                                    <select style="color : rgb(0, 8, 117); width:150px;" (change)="responder(e)" [(ngModel)]="respuestaS"  class="animated flipInY miItem">
  
                                      <option >{{e.respuesta1}} </option>
                                      <option >{{e.respuesta2}} </option>
                                    
                                    </select>
                                  </ion-item>
                                     

                                  </ion-list>
                                 

                           
                       
                     
             
               </ion-list> 

         </div>

  
  </ion-content>