page-inicio-alumno {
    .fondo{
        //background: 100% 100%;
        background-repeat: no-repeat;
        background: 50%;
        //background-size: 50px;
    }

    button{
        border-color:white;
        border-width: 2px;
        border-style: solid;
    }

    .botonEditar
    {
       // margin:auto;
      color: black;
        text-align:center;
        display:block;
        background-color:yellow;
        border-width: 1px;
        height: 0.75cm;
        width: 4.5cm;
        margin-left: 5cm;
        margin-top: 0.25cm;
    }

}
