<!--
  Generated template for the EncuestasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [style.font-family]="miTema.tipoLetra">
  <ion-navbar [color]="miTema.colorNav" [style.font-size.px]="miTema.sizeLetra">
    <ion-title [style.color]="miTema.colorLetra">Encuestas</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding [ngStyle]="{ 'background-color':+ miTema.colorFondo}" [style.font-family]="miTema.tipoLetra" [style.font-size.px]="miTema.sizeLetra">
          <br> <button ion-button round full large style="margin:auto;text-align:center;display:block;background-color:rgba(0, 0, 0, 0.747)" (click)="RedireccionCrearCuestionario()"[ngStyle]="{ 'background-color':+ miTema.colorBoton}" [style.font-size.px]="miTema.sizeLetra" [style.border-radius]="miTema.radioButton" [style.color]="miTema.colorLetra">Crear cuestionario</button> 
         <br>
          
          <div *ngFor="let e of encuestas; let i = index">
     
          <ion-list >
              <div>
          <ion-item class="animated flipInX ">
              <ion-label [style.color]="miTema.colorLetra"class="miLabel" style="color: orange" floating>Nombre:</ion-label>
              <ion-input [style.color]="miTema.colorLetra" type="text" [(ngModel)]="e.nombre" disabled="true"></ion-input> 
              <button style="color: yellow" ion-button clear item-end icon-only (click)="modificarEncuesta(e)" [ngStyle]="{ 'background-color':+ miTema.colorBoton}" [style.font-size.px]="miTema.sizeLetra" [style.border-radius]="miTema.radioButton" [style.color]="miTema.colorLetra" >
                  <ion-icon style="width:50px" name="md-create"></ion-icon>
                </button>
                <button style="color: red" ion-button clear item-end icon-only (click)="eliminarEncuesta(e)" [ngStyle]="{ 'background-color':+ miTema.colorBoton}" [style.font-size.px]="miTema.sizeLetra" [style.border-radius]="miTema.radioButton" [style.color]="miTema.colorLetra">
                  <ion-icon style="width:50px" name="trash"></ion-icon>
                </button>
              </ion-item>
            </div>
                 
              <ion-item class="animated flipInY ">
              <ion-label [style.color]="miTema.colorLetra" class="miLabel" style="color: orange"  floating>Pregunta:</ion-label>
              <ion-input [style.color]="miTema.colorLetra" type="text" [(ngModel)]="e.pregunta" disabled="true"></ion-input>
              </ion-item>
              
              
                <ion-item class="animated flipInY ">
                  <ion-label [style.color]="miTema.colorLetra" class="miLabel" style="color: orange"  floating>La encuesta finaliza en el horario:</ion-label>
                  <ion-input [style.color]="miTema.colorLetra" type="text" [(ngModel)]="e.horaFReal" disabled="true"></ion-input>
                  </ion-item>


<!--
                  <ion-item class="animated flipInX miItem">
                      <ion-label class="miLabel" style="color: orange"  floating>Fecha y hora de inicio (opcional)</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="e.fechaInicio" disabled="true"></ion-datetime>
                    </ion-item>
              
                    <ion-item class="animated flipInX miItem">
                        <ion-label class="miLabel" style="color: orange"  floating>Fecha y hora de finalización (opcional)</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="e.fechaFinalizacion" disabled="true"></ion-datetime>
                      </ion-item>
                    -->


                  <ion-item *ngIf='e.formato == "Botones"' class="animated flipInY ">
                    <ion-list>
                        <button  class="miButton" ion-button clear item-end [ngStyle]="{ 'background-color':+ miTema.colorBoton}" [style.font-size.px]="miTema.sizeLetra" [style.border-radius]="miTema.radioButton" [style.color]="miTema.colorLetra">
                            Presione para votar: {{e.respuesta1}}
                           </button>
                           <br>
                           <button  class="miButton"  ion-button clear item-end [ngStyle]="{ 'background-color':+ miTema.colorBoton}" [style.font-size.px]="miTema.sizeLetra" [style.border-radius]="miTema.radioButton" [style.color]="miTema.colorLetra">
                              Presione para votar: {{e.respuesta2}}
                             </button>


                      
                        </ion-list>    
                      </ion-item>
         
                   
                   <!-- 
                      <ion-list radio-group [(ngModel)]="respuesta" *ngIf='e.formato == "Radio button"'>
                          
                            <ion-label style="color : white">{{e.respuesta1}}</ion-label>
                            <ion-radio style="color : rgb(233, 67, 67)" value="e.respuesta1" ></ion-radio>

                            <ion-label style="color : white">{{e.respuesta2}}</ion-label>
                            <ion-radio style="color : rgb(233, 67, 67)" value="e.respuesta2" ></ion-radio>
                          
                          </ion-list>
                        -->

                  

                                <ion-list  *ngIf='e.formato == "Radio botones"' radio-group [(ngModel)]="respuesta">
                                    <ion-item class="animated flipInY ">
                                      <ion-label [style.color]="miTema.colorLetra" style="color : rgb(4, 28, 161)">{{e.respuesta1}}</ion-label>
                                      <ion-radio  value="e.respuesta1" ></ion-radio>
                                    </ion-item>
                                    <ion-item class="animated flipInY ">
                                        <ion-label [style.color]="miTema.colorLetra" style="color : rgb(4, 28, 161)">{{e.respuesta2}}</ion-label>
                                        <ion-radio  value="e.respuesta2" ></ion-radio>
                                      </ion-item>
                                     

                                  </ion-list>

                                  <ion-list  *ngIf='e.formato == "Checkbox"' radio-group [(ngModel)]="respuesta">
                                      <ion-item class="animated flipInY ">
                                          <ion-label style="color : rgb(4, 28, 161)" [style.color]="miTema.colorLetra">{{e.respuesta1}}</ion-label>
                                          <ion-checkbox  style="color : rgb(0, 4, 238)" [(ngModel)]="e.respuesta1"></ion-checkbox>
                                      </ion-item>
                                      <ion-item class="animated flipInY ">
                                          <ion-label style="color : rgb(4, 28, 161)" [style.color]="miTema.colorLetra">{{e.respuesta2}}</ion-label>
                                          <ion-checkbox  style="color : rgb(0, 4, 238)" [(ngModel)]="e.respuesta2" ></ion-checkbox>
                                        </ion-item>
                                       
  
                                    </ion-list>

                                    <ion-list  *ngIf='e.formato == "Selección de opciones"'  >
                                      <ion-item class="animated flipInY " >
                                      <select style="color : rgb(0, 4, 238); width:150px;" [(ngModel)]="respuesta"  class="animated flipInY ">
    
                                        <option >{{e.respuesta1}} </option>
                                        <option >{{e.respuesta2}} </option>
                                      
                                      </select>
                                    </ion-item>
                                       
  
                                    </ion-list>

                                  
                                    


                                  

                            
                        
                      
              
                </ion-list> 

          </div>



        </ion-content>