<!--
  Generated template for the CagarArchivoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cargar Archivo </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-image:url('assets/nube.jpg')">

  <ion-list>
    <ion-item>
      <!--<label>{{label}}</label>-->
      <!--(change)="fileUpload($event)"-->
      <!--<input type='file' name='userFile' id='file' (change)="onFileSelect($event.target)" style="display: none" multiple> #fileInp-->
      <input type="file" (change)="onFileSelect($event.target)" id="file-input"  style="opacity: 0">
      <ion-icon name="cloud-done">Selecionar archivo .csv</ion-icon>
      <!--<button ion-button (click)="onClick()">Cargar</button>-->
    </ion-item>

    <ion-item>
      <p *ngIf="nombreArchivo">Nombre: {{nombreArchivo}}</p>
      <p *ngIf="sizeArchivo">Tamaño: {{sizeArchivo}}</p>
    </ion-item>
  </ion-list>
  
  <div>
    <button center ion-button round full large *ngIf="nombreArchivo!=null" (click)="cargarLista()" class="animated flipInX  miButton"> 
      <ion-icon name="cloud-done"></ion-icon> Subir
    </button>
    <button center ion-button round full large (click)="descargarArchivo()" class="animated flipInX  miButton"> 
      <ion-icon name="cloud-done"></ion-icon> Descargar
    </button>
  </div>
  
  
</ion-content>
